<h1 class="text-center">Meet the Players</h1>

<div class="text-center full-screen padded col-xs-6">
  <ul class="list-inline">
    <% %w(anduin thrall jaina guldan malfurion garrosh).each do |player| %>
    <li>
      <img src="images/<%= player %>.png" width="150" class="img-circle" alt="">
      <h3><%= player.capitalize %></h3>
    </li>
    <% end %>
  </ul>
</div>
